
.icon-user:before { content: '\e800'; } /* '' */
.icon-laptop:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
