html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1; font-family: arial;}
h1{font-size: 20px;}h2{font-size: 21px;}h3{font-size: 18px;}h4{font-size: 16px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body
{
	background-color: #191d21;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #efefef;
}

header {
    background: #FF7F50;
    padding: 20px 30px;
    margin: auto;
	text-align: left;
}
header a {
  color: #fff;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-right: 75px;
    color: #FFF;
}
#logo img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

a:link 
{
    color: #fff;
	text-decoration: none;
}

a:visited 
{
    color: #fff;
}

a:hover 
{
    color: #fff;
}

a:active 
{    
	color: #fff;
}

.container
{
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	text-align: center;
	padding: 0;
	margin-top: 25px;
	margin-bottom: 25px;
}

.postcard
{
	display: inline-block;
	width: 500px;
	text-align: center;
	padding: 10px;
}

.postcard p
{
	padding: 5px;
	margin-top: 10px;
}





.photo5
{
	width: 500px;
	height: 300px;
	overflow: hidden;
}

.photo5 img
{
	transition: all 0.5s ease-in-out;
}

.photo5:hover img
{
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

footer {
    background: #FF7F50;
    color: #fff;
	margin: auto;
    clear: both;
    text-align: center;
}
footer a{
    text-decoration: underline;
    color: #fff;
}
footer p {
	padding: 20px;
}
